@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.panel {
    background-color: var(--color-card);
    border: 1px solid var(--color-card-border);
    color: var(--color-text-primary);
    border-radius: $radius-xl;
    box-shadow: $shadow-md;
    overflow: hidden;
    padding: $spacing-4;
    @include theme-transition;
}